@{
    ViewData["Title"] = "";

    <div class="text-center">
      Designed by:
		<p>.•° ✿ °•..•° ✿ °•..•° ✿ °•.</p>
		<h3>  Kahvi Sabatino </h3>
    </div>
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
        <p>.•° ✿ °•..•° ✿ °•..•° ✿ °•.</p>
    </div>
    <div class="text-center">
    <ul class="list-unstyled">
		<li> Aloha,</li>
		<li> Thank you so very much for stopping by!</li>
        <li> All images and story are original art/text and not releasable to public domain. </li>
<br />
        <li> This is my very first story driven game demo,</li>
        <li> represented in the form of a Final Project.</li>
        <br />
        <li> I hope you've enjoyed the introduction to the world of Merancea!</li>
<br />
        <li> If you have another moment more to spare,</li>
        <li> I'd be grateful if you take a moment to share</li>
        <li> any thoughts or comments of your experience here.</li>
		<br /> Let's connect on LinkedIn! (◡‿◡✿)
    <div class="text-center">
        <p>.. ╱╲❀╱╲╱╲❀╱╲ ..</p>
