@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merancea</h1>
    <div>
        <img src="~/images/MERANCEATEST.png" class="img-fluid" style="width: 100%; height: auto;" alt="Responsive image">
     </div>
     <div>
         <a asp-action="Page" asp-route-id="1" class="btn btn-info" style="top:-100px;position:relative; font-size:40px">Start Your Journey</a>
     </div>
</div>


