@model Merancea.Models.Page

@{
    ViewData["Title"] = "Final Project";
}
<h1>@Model.Title</h1>
<img src="~/images/@Model.CoverArt" class="rounded mx-auto d-block" style="height: 500px;" alt="Responsive image">
<div>
    @Model.Content
</div>
<div class="row">
	<div class="col-md-4"> </div>
	<div class="col-md-4">
		@foreach (Button btn in Model.Buttons)
		{
			<a class="btn btn-outline-secondary asp-action="Edit" asp-controller="Home" asp-route-Id="@btn.DestinationPageId">@btn.Text</a>
		}
	</div>
	<div class="col-md-4"> </div>
</div>

<style>

</style>
