<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>@ViewData["Title"] - Merancea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Merancea.styles.css" asp-append-version="true" />
</head>
<body>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<div class="top-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            <p class="text-success">
            &copy; 2022 - Merancea Final Project- <a asp-area="" asp-controller="Home" asp-action="AboutMe">GameDesigner</a>
                - <a href="https://www.linkedin.com/in/kasahi/" target="_blank">LinkedIn</a>
            </p>
        </div>
    </footer>
*@    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
